<module>
	<rawname>outcnam</rawname>
	<name>Outbound CNAM</name>
	<version>0.0.5</version>
	<publisher>POSSA</publisher>
	<license>GPLv2+</license>
	<category>Admin</category>
	<menuitems>
		<outcnam>Outbound CNAM</outcnam>
	</menuitems>
	<changelog>
		*0.0.1*  First release
		*0.0.2*  Splice postion fix
		*0.0.3*  Change CDR Column
		*0.0.4*  Fix typo and add check for cronmanager class
		*0.0.5* Modernize code
	</changelog>
	<database>
		<table name="outcnam_config">
			<field name="outcnam_index" type="integer" primarykey="true" autoincrement="true" />
			<field name="enable_cdr" type="string" length="50" />
			<field name="enable_rpid" type="string" length="50" />
			<field name="scheme" type="string" length="50" />
			<field name="route" type="string" length="50" />
		</table>
	</database>
	<depends>
		<version>ge 15.0.1</version>
		<module>superfecta ge2.11</module>
	</depends>
</module>
