<module>
	<rawname>outcnam</rawname>
	<name>Outbound CNAM</name>
	<version>0.0.2</version>
	<publisher>POSSA</publisher>
	<license>GPLv2+</license>
	<category>Other</category>
	<menuitems>
		<outcnam>Outbound CNAM</outcnam>
	</menuitems>
	<changelog>
		*0.0.1*  First release
		*0.0.2*  Splice postion fix
		</changelog>
	<depends>
		<version>ge 2.11</version>
		<module>superfecta ge2.11</module>
	</depends>
</module>
